<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Battle-Line-Productions/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="funkel1989" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
